<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="public/css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>
    <%= kindofday %>
  </h1>

  <ul>

    <%for (var i = 0 ; i < newListItems.length; i++){%>
    <li>
      <%= newListItems[i] %>
    </li>
    <%}%>
  </ul>

  <form action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button" class="btn btn-warning">Go Add!</button>
  </form>

</body>

</html>